asgiref==3.8.1
Django==5.1.4
PyMySQL==1.0.2
sqlparse==0.5.3
tzdata==2024.2
gunicorn==20.1.0  # Optional, for production WSGI server
whitenoise==6.4.0  # Optional, for static file handling
django-storages==1.13.1  # Optional, if using S3 for static/media files
boto3==1.26.14  # Optional, if using AWS S3
dj-database-url
python-dotenv
